
<h1>Hola</h1>
<% num1 = "Soy Par!"
   num2 = "Soy Impar!"%>
   <% 50.times do |v| %>
  <% if v % 2 == 0 %>
    <%= "#{v} Soy Par!" %><br>
  <%else%>
    <%= "#{v} Soy Impar!" %><br>
  <%end%>
<%end%>

  






