<h1> Dear professor:</h1>

<div class = "home"> 
<h3> In this page you can find all the documents related to your Sinatra 1.0 course</h3>
<a href="/notes"> Check works!</a>
</div>

<!-- <a href="/notas/index"></a> -->

