<h3 style="color: red">Add a new work:</h3>

<form action="/notes" method='post'>
	<label for="title"> Title</label><br>
	<input type="text" name="note[title]" placeholder="Set the title here"><br>
	<label for="content">Content</label><br>
	<input type="text" name="note[content]" placeholder="Set the document here"><br>
	<label for="grade">Grade</label><br>
	<input type="text" name="note[grade]" placeholder="Set the grade here"><br>
	<input type="submit" value="Send Assigment">
</form>


