<h1> Picture Dog:</h1>

<h3> Dog: <%= @dog.name %></h3>

<h3> Age: <%= @dog.age  %></h3>

<h4> <a href="/dogs/<%=@dog.id %>/edit">Edit</a>  </h4>

<h4> <a href="/dogs/<%=@dog.id %>/delete">Delete </a> </h4>

<h4> <a href="/dogs/">Go back</a> </h4>